.maindiv{
   background-image: url("../images/2.webp");
   height: auto;
   width: auto; 
   background-color: black !important; 
   
}

.loginBox{
  width: 400px;
  height: 350px;
  position: absolute;
  top: 40%;
  left: 40%;
  margin: -50px 0 0 -50px;
  background-color: white;
  border: solid black 10px;
  border-radius: 20px;
}

.loginBtns{
 position: absolute;
 bottom: 20px;
 left: 70px;
}

.loginLogo{
    
    height: 200px;
    width: 350px; 
}
.formDiv{
    width: 500px;
    height: 500px;
    background-color:#559584;
    border: solid white 5px;
    border-radius: 10px;
    position: absolute;
    left: 35%;
    top: 100px;
    align-items: center;
    color:white;
    font-weight: bolder;
    font-size: large;
}
.formDiv a{
    color: white;
}
.formDiv button{
    font-weight: bolder;
}
.formDiv h4{
    font-weight: bolder;
}