.maindiv{
   background-image: url("../images/2.webp");
   height: auto;
   width: auto; 
   background-color: black !important; 
   
}

.loginBox{
  width: 400px;
  height: 350px;
  position: absolute;
  top: 40%;
  left: 40%;
  margin: -50px 0 0 -50px;
  background-color: white;
  border: solid black 10px;
  border-radius: 20px;
}

.loginBtns{
 position: absolute;
 bottom: 20px;
 left: 70px;
}

.loginLogo{
    
    height: 200px;
    width: 350px; 
}
.formDiv{
    width: 500px;
    height: 500px;
    background-color:#559584;
    border: solid white 5px;
    border-radius: 10px;
    position: absolute;
    left: 35%;
    top: 100px;
    align-items: center;
    color:white;
    font-weight: bolder;
    font-size: large;
}
.formDiv a{
    color: white;
}
.formDiv button{
    font-weight: bolder;
}
.formDiv h4{
    font-weight: bolder;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .playlist{
    border: solid #559584 5px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .playlist h5{
    text-align: center;
    text-transform: capitalize;
    font-weight: bolder;
    padding: 15px;
    color: #559584;
  }

  .playlist a{
    color: red;
    text-decoration: none;
    padding: 15px;
  }

  .editList{
    text-align: center;
    
  }
  #myBtn {
    background: none;
    border: none;
  }